.container--pattern {
    background-size: var(--spacing__vertical--n4) var(--spacing__vertical--n4);
    background-color: var(--color__gray--8);
    background-image: var(--color__pattern);
}

.container--alt {
    background-color: var(--color__gray--1);
    color: var(--color__gray--8);
}
