@import "../constants/media-queries";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--spacing__vertical--2);
  padding-right: var(--spacing__default--horizontal);
  padding-left: var(--spacing__default--horizontal);
  text-align: center;
}

.header--fixed {
  position: fixed;
  z-index: var(--level__middle--top);
  top: 0;
  left: 0;
  right: 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
}
