.hero {
  display: flex;
  align-items: flex-end;
  min-height: calc(100vh - var(--spacing__vertical--5));
  padding-left: var(--spacing__default--horizontal);
  padding-right: var(--spacing__default--horizontal);
}

.hero__wrapper--content {
  align-self: center;
  flex-basis: 50%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero__wrapper--image {
  flex-basis: 50%;
}

.hero__image {
  width: auto;
  padding-top: var(--spacing__vertical--1);
  padding-left: var(--spacing__horizontal--3);
  max-height: calc(100vh - var(--spacing__vertical--5));
}

.hero__text {
  max-width: 400px;
  font-size: var(--typography__medium);
  line-height: calc(var(--spacing__vertical--1) + var(--spacing__vertical--n1));
}
