.nav {
    display: flex;
    min-width: 420px;
}

.nav__link {
    lost-column: 1/3;
    lost-flex-container: column;
    padding-top: var(--spacing__vertical--n1);
    padding-bottom: var(--spacing__vertical--n1);
}

.nav__link--default {
    transition: background-color 0.5s ease;
    text-align: center;

    &:hover,
    &:active {
        background-color: var(--color__gray--2);
    }
}

.nav__link--active {
    &,
    &:hover,
    &:active {
        background-color: var(--color__gray--3);
    }
}
