.search {
  position: relative;
}

.search__content {
  width: var(--container--smallest);
  position: absolute;
  top: var(--spacing__vertical--2);
  right: 0;
}

.search__trigger {
  padding: var(--spacing__vertical--n1) var(--spacing__horizontal--n1);
  line-height: var(--spacing__vertical--1);
  transition: background-color 0.5s ease;

  &:hover {
    background-color: var(--color__gray--2);
  }
}

.search__trigger--visible {
  position: relative;

  &,
  &:hover,
  &:active {
    background-color: var(--color__gray--3);
  }

  &::before,
  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-left: var(--border__width--medium) solid transparent;
    border-right: var(--border__width--medium) solid transparent;
    border-bottom: var(--border__width--medium) solid var(--color__gray--1);
  }

  &:after {
    bottom: calc(-1 * var(--border__width--medium) / 2);
    border-bottom-color: var(--color__gray--8);
    z-index: var(--level__middle);
  }
}

.searchForm {
  position: relative;

  & .input {
    padding-bottom: 0;
  }

  & .input__element {
    padding-right: var(--spacing__horizontal--2);
  }
}

.searchForm__button {
  color: var(--color__gray--1);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  line-height: var(--spacing__vertical--1);
  padding: var(--spacing__vertical--n1) var(--spacing__horizontal--n1);
}
