.search {
    position: relative;
}

.search__content {
    position: absolute;
    top: var(--spacing__vertical--2);
    right: 0;
}

.search__trigger {
    padding: var(--spacing__vertical--n1) var(--spacing__horizontal--n1);
    line-height: var(--spacing__vertical--1);
    transition: background-color 0.5s ease;

    &:hover {
        background-color: var(--color__gray--2);
    }
}

.search__trigger--visible {
    &,
    &:hover,
    &:active {
        background-color: var(--color__gray--3);
    }
}
